.App {
  width: 100vw;
  height: 100vh;
}

.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid;
  padding: 8px;
  width: 600px;
  text-align: center;
}

p {
  font-size: 18px;
}

strong {
  text-transform: uppercase;
}
